/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root{
    /*colors*/
    --clr-orange: 31 77% 52%;
    --clr-cyan: 184 100% 22%;
    --clr-dark: 179 100% 13%;
    --clr-gray: 0 0% 95%;
    --clr-white: 0 0% 100%;

    /*font-family*/
    --ff-cursive: 'Big Shoulders Display', cursive;
    --ff-serif: 'Lexend Deca', sans-serif;

}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    font-family: var(--ff-serif);
    font-size: 15px;
    color: hsl(var(--clr-white) / .75);
    background-color: hsl(var(--clr-gray));
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
}

.title{
    font-family: var(--ff-cursive);
    font-size: 2rem;
    text-transform: uppercase;
}

/* ------------------- */
/* Utility             */
/* ------------------- */

.container {
    padding: 2em;
    margin-inline: auto;
    max-width: 80rem;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.grid-cards{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'sedans'
    'suvs'
    'luxury';
}

.card{
    display: grid;
    gap: 1.5rem;
    padding: 2rem;
}

.btn{
    display: inline-block;
    justify-self: start;
    cursor: pointer;
    border: 1px solid hsl(var(--clr-gray));
    background-color: hsl(var(--clr-gray));
    color: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.btn:hover,
.btn:focus{
    background-color: transparent;
    color: hsl(var(--clr-gray));

}

/* ------------------- */
/* Style               */
/* ------------------- */

.sedans{
    grid-area: sedans;
    background-color: hsl( var(--clr-orange));
}

.suvs{
    grid-area: suvs;
    background-color: hsl( var(--clr-cyan));
}

.luxury{
    grid-area: luxury;
    background-color: hsl( var(--clr-dark));
}